<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title th:text="Редактирование"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation}"/>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2" th:text="Редактирование"/>
                </header>
                <article class="card-body">
                    <div class="department">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th th:text="Департаменты"/>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="department : ${departments}">
                                <td>
                                    <a th:href="@{'/edit/department/' + ${department.id}}" class="month"
                                       th:text="${department.title}"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:href="@{'/add/department'}" class="btn btn-outline-secondary"
                           th:text="Добавить"/>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
</body>
</html>