<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title th:text="Редактирование"/>
    <link rel="stylesheet" th:href="@{../static/css/stylesheet.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>

<div class="container">
    <div th:replace="~{navigation}"/>

    <h1>Запись успешно добавлена</h1>

    <a th:href="@{/}" class="btn btn-outline-secondary">На главную</a>
</div>

</body>
</html>